{{> header}}

{{#if success_messages}}
<h3 style="color: green;text-align: center;">{{success_messages}}</h3>
{{/if}}
{{#if error_messages}}
<h3 style="color: red;text-align: center;">{{error_messages}}</h3>
{{/if}}
{{#if orange_message}}
<h3 style="color: orange;text-align: center;">{{orange_message}}</h3>
{{/if}}



<div id="login-box" class="two_fact_auth" >
  <div class="left">
    <h1>Reset Password</h1>
    <form action="/users/reset-password?_csrf={{_csrf}}" method="POST">
      <input type="hidden" name="user_token" readonly id="user_token" autocomplete="off" value="{{userToken}}"/>
      <input type="password" name="new_password" placeholder="New Password" required id="new_password" autocomplete="off"  />
      <input type="password" name="confirm_new_password" placeholder="Confirm New Password" required id="confirm_new_password" autocomplete="off"  />
      <input type="submit" name="send_email_reset_password_link" value="Reset Password" />
      </form>
  </div>
</div>

{{> footer}}